 


<div id="bio">
  <img src="/assets/profile.jpeg" alt="Headshot of Aidan">
  <p>
    Hello I am Aidan, a developer based in Los Angeles. If you want to connect with me,
    you can <strong>contact me   <a href="/blog/form.html" target="_self">here</a></strong>,
    see some of my work on <a href="https://github.com/aidanm20" target="_blank">GitHub</a>,
    or read more about me on <a href="https://aidanm20.github.io/" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
